.red-section{
    background-color: #ff4c68;
    color: white;
}
.body{
    font-family: "Montserrat";
}
.title-image{
    height: 60%;
    position: absolute;
    transform: rotate(25deg);
    right: 30%;
}
    